<div class="modal fade" id="ConfirmarExclusao" tabindex="-1" aria-labelledby="ConfirmarExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atenção:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja <b>EXCLUIR</b> esse registro?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger"><i class="fa fa-check"></i> Excluir</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
            </div>
        </div>
    </div>
</div>
