<div class="modal fade" id="modalConsultarOcorrencia" tabindex="-1" aria-labelledby="modalConsultarAtendimento" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dados da Ocorrência:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                
                <label><b>Denunciante:</b></label><br />
                <label id="modConsult-NomeDenunciante"></label>
                <hr />
                <label><b>Telefone:</b></label><br />
                <label id="modConsult-TelefoneDenunciante"></label>
                <hr />
                <label><b>Número Discado:</b></label><br />
                <label id="modConsult-LigacaoDenunciante"></label>
                <hr />
                <label><b>Descrição Número Discado:</b></label><br />
                <label id="modConsult-DescricaoLigacao"></label>
                <hr />
                <label><b>Ocorrência:</b></label><br />
                <label id="modConsult-DescricaoOcorrenciaDenunciante"></label>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
            </div>
        </div>
    </div>
</div>
